<%-include("partials/header")-%>

<h2><i class="fas fa-exclamation-triangle fa-lg"></i>There is no data for the pincode you have entered. Please try again after sometime.</h2>


<%-include("partials/footer")-%>
