html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-weight: 400;
}
hr{
  width: 20%;
  border-color: #706c61;
  border-width: 0.4rem;
  border-style: none;
  border-top-style: dotted;
}

 .container-0{
  background-color: #caf7e3;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 1rem 0 1.5rem;
  border-radius: 1rem;
}
.container-1{
  background-color: #edffec;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 1rem 0 1.5rem;
  border-radius: 1rem;
}

.address, .timings, .agelimit,.dosenum {
    display: inline-block;
}

.agespan,.dosenum{
  padding-right: 1rem;
}
.agespan{
  margin-left: -0.2rem;
}
.timings{
  padding-left: 3rem;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
h1{
  font-size: 2.3rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.1rem;
}
/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */
.navbar {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 1rem;
    letter-spacing: 5px;
}
.navbar-light .navbar-brand{
    padding-left: 7rem;
    font-family:'Montserrat', sans-serif;
    color: grey;
}


.footer-padding {
	padding-bottom: 1rem;
}

.footer {
	position: absolute;
  padding-top: 1px;
	text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
